* {
    padding: 0;
    margin: 0;
    font-family: jost, sans-serif;
}

/***************************************************/
/*               Home Page Style                   */
/***************************************************/

h1 {
    color: white;
    background-color: #7fff00;
    font-family: 'Verdana', sans-serif;
}